{% extends 'backstage/generic.html' %}
{% load staticfiles %}
{% block title %}
    留言箱-FAN Blog
{% endblock %}
{% block additionalCss %}
    <!-- iCheck -->
    <link rel="stylesheet" href="{% static 'bower_components/iCheck/flat/blue.css' %}">
{% endblock %}
{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            留言箱
        </h1>
    </section>

    <section class="content container-fluid">
		<div class="row">
			<div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <div class="mailbox-controls">

                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm checkbox-toggle">&nbsp;<i class="fa fa-square-o"></i>全选</button>
                                <button id="mark-readed" type="button" class="btn btn-default btn-sm"><i class="fa fa-circle">&nbsp;</i>标记为已读</button>
                                <button id="delete-message" type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o">&nbsp;</i>删除</button>
                            </div>
                            <!-- /.btn-group -->
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh">&nbsp;</i>刷新</button>
                            <div class="pull-right">
                                第{{ messages.number }}页/共{{ total_pages }}页
                                <div class="btn-group">
                                    <a
                                            href="{% if messages.has_previous %}
                                                  {% url 'backstage:message_pages' P=messages.previous_page_number %}
                                                  {% else %}
                                                  #
                                                  {% endif %}"
                                            type="button" class="btn btn-default btn-sm">
                                        <i class="fa fa-chevron-left"></i>
                                    </a>
                                    <a href="{% if messages.has_next %}
                                             {% url 'backstage:message_pages' P=messages.next_page_number %}
                                             {% else %}
                                             #
                                             {% endif %}"
                                       type="button" class="btn btn-default btn-sm">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </div>
                                <!-- /.btn-group -->
                            </div>
                            <!-- /.pull-right -->
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">
                                <tbody>
                                {% for message in messages %}
                                    <tr>
                                        <td><input type="checkbox" name="check" value="{{ message.id }}"></td>
                                        <td class="mailbox-star">
                                            {% if message.readed %}
                                                <i class="fa fa-circle text-gray"></i>
                                            {% else %}
                                                <i class="fa fa-circle text-green"></i>
                                            {% endif %}
                                        </td>
                                        <td class="mailbox-name">
                                            <a href="{% url 'backstage:read_message' message_id=message.id %}">
                                                {{ message.writer|truncatechars:20 }}
                                            </a>
                                        </td>
                                        <td class="mailbox-subject">
                                            <b>{{ message.subject|truncatechars:20 }}</b> - {{ message.message|truncatechars:30 }}
                                        </td>
                                        <td class="mailbox-date">{{ message.compose_time }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        <!-- /.table -->
                        </div>
                      <!-- /.mail-box-messages -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /. box -->
            </div>
        </div>
    </section>
{% endblock %}

{% block additionalScript %}
    <!-- iCheck -->
<script src="{% static 'bower_components/iCheck/icheck.min.js' %}"></script>
<script src="{% static 'dist/js/csrf.js' %}"></script>
<!-- Page Script -->
<script>
  $(function () {
    //Enable iCheck plugin for checkboxes
    //iCheck for checkbox and radio inputs
    $('.mailbox-messages input[type="checkbox"]').iCheck({
      checkboxClass: 'icheckbox_flat-blue',
      radioClass: 'iradio_flat-blue'
    });

    //Enable check and uncheck all functionality
    $(".checkbox-toggle").click(function () {
      var clicks = $(this).data('clicks');
      if (clicks) {
        //Uncheck all checkboxes
        $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
        $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
      } else {
        //Check all checkboxes
        $(".mailbox-messages input[type='checkbox']").iCheck("check");
        $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
      }
      $(this).data("clicks", !clicks);
    });

  });

  $("#delete-message").click(function () {
        var deleteMessages = [];
        var cks=document.getElementsByName("check");
        for(var i=0;i<cks.length;i++){
            if (cks[i].checked) {
                deleteMessages.push(cks[i].value);
            }
        }

        if (deleteMessages.length > 0){
            if (!confirm("你确定要删除所选择的消息吗？")){
                return;
            }
            var sendData = {'delete_messages': deleteMessages};
            console.log(sendData);
            $.ajax({
                url: "/back/message/delete/",
                type: 'POST',
                traditional: true,
                data: sendData,
                dataType: 'text',
                success: function (result) {
                    alert(result);
                    window.location.href = "/back/message/";
                },
                error: function (e) {
                    alert(e);
                }
            })

        } else {
            alert("未选择要删除的消息!");
        }
  });

  $("#mark-readed").click(function () {
        var markedMessages = [];
        var cks=document.getElementsByName("check");
        for(var i=0;i<cks.length;i++){
            if (cks[i].checked) {
                markedMessages.push(cks[i].value);
            }
        }

        if (markedMessages.length > 0){

            var sendData = {'marked_messages': markedMessages};
            console.log(sendData);
            $.ajax({
                url: "/back/message/stat/",
                type: 'POST',
                traditional: true,
                data: sendData,
                dataType: 'text',
                success: function (result) {
                    alert(result);
                    window.location.href = "/back/message/";
                },
                error: function (e) {
                    alert(e);
                }
            })

        } else {
            alert("未选择消息!");
        }
  });

</script>
{% endblock %}