{% extends 'backstage/generic.html' %}
{% load staticfiles %}
{% block title %}回收站-FAN Blog{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        回收站
      </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

		<div class="row">
			<div class="col-xs-12">
				<div class="box box-danger">
					<div class="box-header">
                        <button id="allCheck" class="btn btn-default btn-xs">全选</button>
                        <button id="deleteArticles" class="btn btn-default btn-xs">删除</button>
                        <button id="cancelDelete" class="btn btn-default btn-xs">还原</button>
                        <div class="box-tools">
							<ul class="pagination pagination-sm no-margin pull-right">
                                <li>
                                    {% if articles.has_previous %}
                                    <a href="{% url 'backstage:draft_and_trash' dt='trash' p=articles.previous_page_number %}">&laquo;</a>
                                    {% else %}
                                    <a href="#">&laquo;</a>
                                    {% endif %}
                                </li>
                                {% for page in pages %}
                                    {% if page == articles.number %}
                                    <li><a class="active" href="#">{{ page }}</a></li>
                                    {% else %}
                                    <li><a href="{% url 'backstage:draft_and_trash' dt='trash' p=page %}">{{ page }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                <li>
                                    {% if articles.has_next %}
                                    <a href="{% url 'backstage:draft_and_trash' dt='trash' p=articles.next_page_number %}">&raquo;</a>
                                    {% else %}
                                    <a href="#">&raquo;</a>
                                    {% endif %}
                                </li>
						    </ul>
						</div>
					</div>

					<div class="box-body table-responsive no-padding">
						<table class="table table-hover" style="text-align: center">
							<tr>
                                <th width="5%" style="text-align: center;">
                                    选择
                                </th>
                                <th width="5%" style="text-align: center">No.</th>
                                <th width="" style="text-align: center">标题</th>
                                <th width="10%" style="text-align: center">类型</th>
                                <th width="12%" style="text-align: center">创建时间</th>
							</tr>
                            {% for article in articles %}

                            <tr>
                                <td><input type="checkbox" value="{{ article.article_id }}" name="check"/></td>
                                <td>{{ forloop.counter }}</td>
								<td>{{ article.title }}</td>
                                <td><span class="label label-default">{{ article.get_type_display }}</span></td>
                                <td style="color: gray"><span class="badge">{{ article.created_time|date:"Y-m-d H:i:s" }}</span></td>
							</tr>
                            {% endfor %}
						</table>
					</div>

				</div>
			</div>
		</div>
    </section>
    <!-- /.content -->
{% endblock %}
{% block additionalScript %}
<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
    });

    var checked = false;
    $("#allCheck").click(function () {

        if (checked) {
            checked = false;
            $("#allCheck").html("全选");
        } else {
            checked = true;
            $("#allCheck").html("取消全选");
        }

        var checks=document.getElementsByName("check");
        for(var i=0;i<checks.length;i++){
            checks[i].checked=checked;
        }
    });

    $("#deleteArticles").click(function () {

        var deleteArticles = [];
        var cks=document.getElementsByName("check");
        for(var i=0;i<cks.length;i++){
            if (cks[i].checked) {
                deleteArticles.push(cks[i].value);
            }
        }

        if (deleteArticles.length > 0){
            if (!confirm("你确定要永久删除所选择的文章吗？")){
                return;
            }
            var sendData = {'delete_articles': deleteArticles};
            console.log(sendData);
            $.ajax({
                url: "{% url 'backstage:delete_permanently' %}",
                type: 'POST',
                traditional: true,
                data: sendData,
                dataType: 'text',
                success: function (result) {
                    alert(result);
                    window.location.href = "{% url 'backstage:draft_and_trash' dt='trash' p=1 %}";
                },
                error: function (e) {
                    alert(e);
                }
            })

        } else {
            alert("未选择要删除的文章");
        }

    });

    $("#cancelDelete").click(function () {

        var revertArticles = [];
        var cks=document.getElementsByName("check");
        for(var i=0;i<cks.length;i++){
            if (cks[i].checked) {
                revertArticles.push(cks[i].value);
            }
        }

        if (revertArticles.length > 0){

            var sendData = {'revert_articles': revertArticles};
            console.log(sendData);
            $.ajax({
                url: "{% url 'backstage:revert_from_trash' %}",
                type: 'POST',
                traditional: true,
                data: sendData,
                dataType: 'text',
                success: function () {
                    window.location.href = "{% url 'backstage:draft_and_trash' dt='trash' p=1 %}";
                },
                error: function (e) {
                    alert(e);
                }
            })

        } else {
            alert("未选择要还原的文章");
        }

    });

</script>
{% endblock %}